extends layout

block content
  div.accessoryListContent
    h1= title

    ul
      each product in accessory_list
        li.accessoryListItem
          a(href=product.url) #{product.name}
          p Price: $#{product.price}

    a(href="/catalog/accessory/create") Add New Accessory
