extends layout

block content
  h1= title

  form(method='POST' action='')
    div
      label(for='name') Name:
      select(type='select' placeholder='Select Model' name='name' required='true')
        option(value='Tesla Model 3' selected=(undefined===car ? false : (car.name==='Tesla Model 3' ? true : false))) Model 3
        option(value='Tesla Model Y' selected=(undefined===car ? false : (car.name==='Tesla Model Y' ? true : false))) Model Y
        option(value='Tesla Model S' selected=(undefined===car ? false : (car.name==='Tesla Model S' ? true : false))) Model S
        option(value='Tesla Model X' selected=(undefined===car ? false : (car.name==='Tesla Model X' ? true : false))) Model X

    div
      label(for='trim') Trim:
      select(type='select' placeholder='Select Trim' name='trim' required='true')
        option(value='Rear Wheel Drive' selected=(undefined===car ? false : (car.trim==='Rear Wheel Drive' ? true : false))) Rear Wheel Drive
        option(value='Long Range' selected=(undefined===car ? false : (car.trim==='Long Range' ? true : false))) Long Range
        option(value='Performance' selected=(undefined===car ? false : (car.trim==='Performance' ? true : false))) Performance
        option(value='Plaid' selected=(undefined===car ? false : (car.trim==='Plaid' ? true : false))) Plaid

    div
      label(for='price') Price:
      input(type='number' name='price' required='true' value=(undefined===car ? '' : car.price))

    div
      label(for='description') Description:
      textarea(type='textarea' name='description' required='true') #{undefined===car ? '' : car.description}

    div
      label(for='stock') Stock:
      input(type='number' name='stock' required='true' value=(undefined===car ? '' : car.stock))

    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
