extends layout

block content
  div.energyListContent
    h1= title

    ul
      each product in energy_list
        li.energyListItem
          a(href=product.url) #{product.name}
          p Price: $#{product.price}

    a(href="/catalog/energy/create") Add New Energy Product
