extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/catalog") View Inventory

  h2 To-Do:
    ul
      li Refactor HTML elements in view models in order to better structure the skeleton
      li Implement CSS styling to format layout/general styling
      li Optional: Implement the above step using CSS preprocessor, e.g. SASS
