doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a(href="/") Home Page
      a(href="/catalog/") Catalog Page
      a(href="/catalog/cars") Cars
      a(href="/catalog/trucks") Trucks
      a(href="/catalog/energy") Energy
      a(href="/catalog/charging") Charging
      a(href="/catalog/accessory") Accessories

    block content
