doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a(href="/") Home Page
      hr
      a(href="/catalog/") Catalog Page
      hr
      a(href="/catalog/cars") Cars
      hr
      a(href="/catalog/trucks") Trucks
      hr
      a(href="/catalog/energy") Energy
      hr
      a(href="/catalog/charging") Charging
      hr
      a(href="/catalog/accessories") Accessories
    block content
