doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  body
    div.navbar
      a(href="/") Home Page
      a(href="/catalog/") Catalog Page
      a(href="/catalog/cars") Cars
      a(href="/catalog/trucks") Trucks
      a(href="/catalog/energy") Energy
      a(href="/catalog/charging") Charging
      a(href="/catalog/accessory") Accessories

    block content
