/*
  ===========
  CSS Reset
  ===========
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ===========
  Layout.pug
  ===========
*/

html {
  min-height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  min-height: 100%;

  background-color: #F0F5F9;
  color: #52616B;

}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;

  min-height: 100vh;
  min-width: 150px;

  background-color: #C9D6DF;
  color: #1E2022;
}

.navbar a {
  text-decoration: none;
  color: #1E2022;
  width: 100%;
  padding: 25% 0 25% 0;
  text-align: center;
  text-justify: center;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar a:hover {
  background-color: #52616B;
  color: #F0F5F9;
}


/*
  ===========
  Index Content
  ===========
*/

.indexContent {
  justify-self: center;
  display: grid;
  grid-template-rows: minmax(25px, 75px);
  justify-items: center;
  align-items: center;
}

.indexContent h1 {
  font-weight: bold;
  font-size: 26px;
}

.indexContent img {
  max-width: 100%;
  min-width: 550px;
  justify-self: center;
  align-self: start;
}


/*
  ===========
  Catalog Content
  ===========
*/

.catalogContent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(20px, 50px) repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.catalogContent h1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-weight: bold;
  font-size: 24px;
}

.catalogContent div {
  display: grid;
  justify-items: center;
  align-items: center;
}

.catalogContent div a {
  font-weight: bold;
  font-size: 20px;
  padding: 1em;
}

/*
  ===========
  Cars Content
  ===========
*/

.carListContent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, 50px) 2fr minmax(50px, 100px);
  justify-items: center;
  align-items: center;
}

.carListContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.carListContent ul {
  display: grid;
  width: 100%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.carListItem {
  justify-self: center;
}

/*
  ===========
  Car Detail
  ===========
*/

.carDetailContent {
  display: grid;
  grid-template-rows: minmax(25px, 75px) minmax(100px, 200px) minmax(25px, 150px);
  justify-items: center;
  align-items: center;
}

.carDetailContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.carDetailContent ul {
  display: grid;
  font-size: 18px;
}

.carDetailContent nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/*
  ===========
  Car Form Content
  ===========
*/

.carFormContent {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(25px, 75px);
}

.carFormContent h1 {
  font-weight: bold;
  font-size: 24px;
}

.carFormContent form {
  display: grid;
  justify-items: start;
  max-height: 400px;
}

.carFormContent form label {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.5em;
}

/*
  ===========
  Truck Content
  ===========
*/

.truckListContent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, 50px) 2fr minmax(50px, 100px);
  justify-items: center;
  align-items: center;
}

.truckListContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.truckListContent ul {
  display: grid;
  width: 100%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.truckListItem {
  justify-self: center;
}

/*
  ===========
  Truck Detail
  ===========
*/

.truckDetailContent {
  display: grid;
  grid-template-rows: minmax(25px, 75px) minmax(100px, 200px) minmax(25px, 150px);
  justify-items: center;
  align-items: center;
}

.truckDetailContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.truckDetailContent ul {
  display: grid;
  font-size: 18px;
}

.truckDetailContent nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/*
  ===========
  Truck Form Content
  ===========
*/

.truckFormContent {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(25px, 75px);
}

.truckFormContent h1 {
  font-weight: bold;
  font-size: 24px;
}

.truckFormContent form {
  display: grid;
  justify-items: start;
  max-height: 400px;
}

.truckFormContent form label {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.5em;
}

/*
  ===========
  Energy Content
  ===========
*/

.energyListContent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, 50px) 2fr minmax(50px, 100px);
  justify-items: center;
  align-items: center;
}

.energyListContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.energyListContent ul {
  display: grid;
  width: 100%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.energyListItem {
  justify-self: center;
}

/*
  ===========
  Energy Detail
  ===========
*/

.energyDetailContent {
  display: grid;
  grid-template-rows: minmax(25px, 75px) minmax(100px, 200px) minmax(25px, 150px);
  justify-items: center;
  align-items: center;
}

.energyDetailContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.energyDetailContent ul {
  display: grid;
  font-size: 18px;
}

.energyDetailContent nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/*
  ===========
  Energy Form Content
  ===========
*/

.energyFormContent {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(25px, 75px);
}

.energyFormContent h1 {
  font-weight: bold;
  font-size: 24px;
}

.energyFormContent form {
  display: grid;
  justify-items: start;
  max-height: 400px;
}

.energyFormContent form label {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.5em;
}


/*
  ===========
  Charging Content
  ===========
*/

.chargingListContent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, 50px) 2fr minmax(50px, 100px);
  justify-items: center;
  align-items: center;
}

.chargingListContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.chargingListContent ul {
  display: grid;
  width: 100%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.chargingListItem {
  justify-self: center;
}

/*
  ===========
  Charging Detail
  ===========
*/

.chargingDetailContent {
  display: grid;
  grid-template-rows: minmax(25px, 75px) minmax(100px, 200px) minmax(25px, 150px);
  justify-items: center;
  align-items: center;
}

.chargingDetailContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.chargingDetailContent ul {
  display: grid;
  font-size: 18px;
}

.chargingDetailContent nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/*
  ===========
  Charging Form Content
  ===========
*/

.chargingFormContent {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(25px, 75px);
}

.chargingFormContent h1 {
  font-weight: bold;
  font-size: 24px;
}

.chargingFormContent form {
  display: grid;
  justify-items: start;
  max-height: 400px;
}

.chargingFormContent form label {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.5em;
}

/*
  ===========
  Accessory Content
  ===========
*/

.accessoryListContent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, 50px) 2fr minmax(50px, 100px);
  justify-items: center;
  align-items: center;
}

.accessoryListContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.accessoryListContent ul {
  display: grid;
  width: 100%;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.accessoryListItem {
  justify-self: center;
}

/*
  ===========
  Accessory Detail
  ===========
*/

.accessoryDetailContent {
  display: grid;
  grid-template-rows: minmax(25px, 75px) minmax(100px, 200px) minmax(25px, 150px);
  justify-items: center;
  align-items: center;
}

.accessoryDetailContent h1 {
  font-weight: bold;
  font-size: 22px;
}

.accessoryDetailContent ul {
  display: grid;
  font-size: 18px;
}

.accessoryDetailContent nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/*
  ===========
  Accessory Form Content
  ===========
*/

.accessoryFormContent {
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(25px, 75px);
}

.accessoryFormContent h1 {
  font-weight: bold;
  font-size: 24px;
}

.accessoryFormContent form {
  display: grid;
  justify-items: start;
  max-height: 400px;
}

.accessoryFormContent form label {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.5em;
}